<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackathon.inmobi"
    android:versionCode="1"
    android:versionName="1.0" >

        <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.AppCompat"
        android:label="@string/app_name" >
        <meta-data android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />
       
           <activity
            android:name="MainActivity"
            android:label="@string/app_name"
            >
           	 	<intent-filter>
                	<action android:name="android.intent.action.MAIN" />
					<category android:name="android.intent.category.LAUNCHER" />
            	</intent-filter>
           </activity>
        
          
        

          
           
           
        <!-- Goolge API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDgWnmsNz4EFpcp3TtT82-oBgLU4QX6Uy8" />
    </application>

</manifest>